{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% if collector.messages|length > 0 %}
        {% set icon %}
            {{ include('@Stampie/Collector/icon.svg') }}
            <span class="sf-toolbar-value">{{ collector.messages|length }}</span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>Sent messages</b>
                <span class="sf-toolbar-status">{{ collector.messages|length }}</span>
            </div>
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': profiler_url }) }}
    {% endif %}
{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        /* utility classes */
        .m-t-10 { margin-top: 10px !important; }

        /* basic grid */
        .row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }
        .col {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }
        .col-4 {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }

        /* small tabs */
        .sf-tabs-sm .tab-navigation li {
            font-size: 14px;
            padding: .3em .5em;
        }
    </style>
{% endblock %}

{% block menu %}
    <span class="label {{ collector.messages|length ? '' : 'disabled' }}">
        <span class="icon">{{ include('@Stampie/Collector/icon.svg') }}</span>
        <strong>Stampie E-Mails</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>E-mails</h2>

    {% if collector.messages|length == 0 %}
        <div class="empty">
            <p>No e-mail messages were sent.</p>
        </div>
    {% else %}
        {% for message in collector.messages %}
            {% if loop.length > 1 %}
                <h4>E-mail #{{ loop.index }} details</h4>
            {% else %}
                <h4>E-mail details</h4>
            {% endif %}

            <div class="card">
                <div class="card-block">
                    <span class="label">Subject</span>
                    <h2 class="m-t-10">{{ message.subject ?? '(empty)' }}</h2>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col col-4">
                            <span class="label">From</span>
                            <pre class="prewrap">{{ message.fromRendered ?? '(empty)' }}</pre>

                            <span class="label">To</span>
                            <pre class="prewrap">{{ message.toRendered ?? '(empty)' }}</pre>

                            {% if message.cc %}
                                <span class="label">Cc</span>
                                <pre class="prewrap">{{ message.ccRendered }}</pre>
                            {% endif %}

                            {% if message.bcc %}
                                <span class="label">Bcc</span>
                                <pre class="prewrap">{{ message.bccRendered }}</pre>
                            {% endif %}

                            {% if message.replyTo %}
                                <span class="label">Reply-To</span>
                                <pre class="prewrap">{{ message.replyToRendered }}</pre>
                            {% endif %}
                        </div>
                        <div class="col">
                            <span class="label">Headers</span>
                            <pre class="prewrap">{% for key, value in message.headers %}
                                {{- key }}: {{ value }}{{ '\n' -}}
                            {% endfor %}</pre>
                            {% if message.tag is defined and message.tag is not empty %}
                                <span class="label">Tag{{ message.tag is iterable and message.tag|length != 1 ? 's' }}</span>
                                <pre class="prewrap">
                                    {%- if message.tag is iterable -%}
                                        {{- message.tag|join(', ') -}}
                                    {%- else -%}
                                        {{- message.tag -}}
                                    {%- endif -%}
                                </pre>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if message.html is not empty %}
                    <div class="card-block">
                        <div class="sf-tabs sf-tabs-sm">
                            <div class="tab">
                                <h3 class="tab-title">Raw content</h3>

                                <div class="tab-content">
                                    <pre class="prewrap" style="max-height: 600px">
                                        {{- message.html }}
                                    </pre>
                                </div>
                            </div>

                            <div class="tab">
                                <h3 class="tab-title">Rendered content</h3>

                                <div class="tab-content">
                                    <iframe class="full-width" style="min-height: 600px" src="data:text/html;base64,{{ message.base64_html }}"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="card-block">
                    <span class="label">{% if message.html is not empty %}Alternative part (text/plain){% else %}Raw content{% endif %}</span>
                    <pre class="prewrap">
                        {{- message.text }}
                    </pre>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
